div {
    position: absolute;
}

body {
    height: 10000px;
    width:10000px;
    background: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
}

.KW_raster { /* KalenderWochen (KW 1, KW 2, KW 3,...) */
    background: hsla(180, 83%, 26%);
    position: sticky;
    z-index: 2;
    top: 2px;
}

.KW_raster-free {   
    background: rgb(26, 26, 26);
}

#raster {
    background: rgb(53, 51, 51);
    border-collapse: collapse;
}

.cell-employees {
    height:20px;
    position: sticky;
    background: hsla(180, 83%, 26%);
    left: 5px;
    z-index: 1;
}

#textfeld {
    width: 800px;
    height: 600px;
    background-color: rgb(106, 126, 126);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid aqua;
    border-radius: 10px;
}

.textfeld {
    padding: 10px;
    width: 800px;
    height: 600px;
    background-color: rgb(106, 126, 126);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#textfeld-inhalt {
    display: flex;
    padding: 10px 15px;
}

.closeButton {
    font-size: 25px;
    width: 80px;
    height: 60px;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 30px;
    transform: translate(-50%, 150%);
    border: 0px;
    border-radius: 10px;
}

#button {
    position:fixed;
    transform: translateY(360px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cell {
    border: 1px solid rgb(126, 120, 120);;
}

.cell:hover {
    background-color: rgb(146, 145, 145);
    transition: 0.3s;
}
